.rouge1{
    background-color: #b30000;
}
.rouge2{
    background-color: #e60000;
}
.rouge3{
    background-color: #ff1a1a;
}
.rouge4{
    background-color: #ff4d4d;
}
.rouge5{
    background-color: #ff8080;
}
.bleu1{
    background-color: #000080;
}
.bleu2{
    background-color: #0000cc;
}
.bleu3{
    background-color: #0000ff;
}
.bleu4{
    background-color: #3333ff;
}
.bleu5{
    background-color: #6666ff;
}
.vert1{
    background-color: #006900;
}
.vert2{
    background-color: #009000;
}
.vert3{
    background-color: #00cc00;
}
.vert4{
    background-color: #2aff2a;
}
.vert5{
    background-color: #69ff69;
}